# Source files (only dist is needed)
src/
test/
examples/
scripts/
coverage/

# Config files
.github/
.husky/
.vscode/
*.config.js
*.config.ci.js
tsconfig*.json
.nvmrc
.secretlintrc.json
.secretlintignore
.eslintrc.js
.prettierrc
.prettierignore
.gitignore
commitlint.config.js

# Development files
*.log
*.tgz
.DS_Store
Thumbs.db
